
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Varela+Round&display=swap');

.App {
  font-family: 'Oxygen', sans-serif;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(33,37,41);
}

